<div class="margin-left">
  <mat-form-field appearance="outline" class="margin-field">
    <mat-label>Entidad</mat-label>
    <mat-select disableRipple>
      <mat-option *ngFor="let entity of entities" [value]="entity.value">{{entity.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="margin-field">
    <mat-label>Responsable Entidad</mat-label>
    <mat-select disableRipple>
      <mat-option *ngFor="let entityR of entitiesR" [value]="entityR.value">{{entityR.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="margin-field">
    <mat-label>Proyecto</mat-label>
    <mat-select disableRipple>
      <mat-option *ngFor="let project of projects" [value]="project.value">{{project.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="margin-field">
    <mat-label>Involucrado</mat-label>
    <mat-select disableRipple>
      <mat-option *ngFor="let inv of involved" [value]="inv.value">{{inv.name}}</mat-option>

    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Docente</mat-label>
    <mat-select disableRipple>
      <mat-option *ngFor="let tea of teacher" [value]="tea.value">{{tea.name}}</mat-option>

    </mat-select>
  </mat-form-field>
</div>
<mat-form-field class="margin-left">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="margin-left" style="width: 90%; margin-left: 4rem">
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
    
    <!-- Entidad Column -->
    <ng-container matColumnDef="entidad">
      <th mat-header-cell *matHeaderCellDef> Entidad </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Responsable Column -->
    <ng-container matColumnDef="responsable">
      <th mat-header-cell *matHeaderCellDef> Responsable</th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <!-- Proyecto Column -->
    <ng-container matColumnDef="proyecto">
      <th mat-header-cell *matHeaderCellDef> Proyecto </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
      <!-- Involucrado Column -->
      <ng-container matColumnDef="involucrado">
        <th mat-header-cell *matHeaderCellDef> Involucrado </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
    
       <!-- Docente Column -->
       <ng-container matColumnDef="docente">
        <th mat-header-cell *matHeaderCellDef> docente </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>